@page "/"
@using FeedReader.Data

<div class="row">
    <div class="col-3">
        <div class="list-group list-group-flush" id="list-tab" role="tablist">
            @if (feeds != null)
            {
                @for (int i = 0; i < feeds.Length; i++)
                {
                    <a class="list-group-item list-group-item-action @(i == 0 ? "active" : string.Empty)" id="list-@(feeds[i].Id)-list" data-toggle="list" href="#list-@(feeds[i].Id)" role="tab">
                        <img src="@feeds[i].ImageUri" width="16" height="16" />
                        @feeds[i].Title
                    </a>
                }
            }
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            @if (feeds != null && posts != null)
            {
                @for (int i = 0; i < feeds.Length; i++)
                {
                    <div class="tab-pane fade @(i == 0 ? "show active" : string.Empty)" id="list-@(feeds[i].Id)" role="tabpanel">
                        <div class="list-group list-group-flush">
                            @foreach (var p in posts.Where(post => post.FeedId == feeds[i].Id))
                            {
                                <a class="list-group-item list-group-item-action" href="@p.Link" target="_blank">
                                    <h3>@p.Title</h3>
                                    <p class="text-secondary">
                                        <time datetime="@p.UpdateTime">@p.UpdateTime</time>
                                    </p>
                                    <p>@p.Description</p>
                                </a>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    Feed[]? feeds;
    BlogPost[]? posts;

    protected override void OnInitialized()
    {
        using (var context = new FeedContext())
        {
            context.Database.EnsureCreated();
            feeds = context.Feeds.ToArray();
            posts = context.Posts.ToArray();
        }
    }
}
